.card__images__container {
    display: flex;
    float: left;
}

.card__images {
    width: 200px;
    height: 200px;
}

.card__images:hover {
    box-shadow: 0 0 15px rgba(0, 39, 135, 2);
}

.title__div {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}

