body {
    background-color: #ED1E23;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card__div {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
}

